
body { padding-top: 70px; }
html,body{
    height: 100%
}
#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 100px;    /* height of footer */
}

footer{
    height: 100px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
#foot{
    display: inline-block;
    margin-left: auto ;
    margin-right: auto ;
}