<h4><a name="run" class="anchor" href="#run"><span class="glyphicon glyphicon-link"></span></a> Run Zephyr</h4>
<pre>
    <code>
        $ cd /opt/zephyr
        $ ./run.sh -job conf/twitter-job.xml
    </code>
</pre>
<h4><a name="run-noscript" class="anchor" href="#run-noscript"><span class="glyphicon glyphicon-link"></span></a> Run Zephyr Without A Run Script</h4>
<pre>
    <code>
        $ hadoop jar zephyr-mapreduce-&lt;version>&gt;.jar org.zephyr.mapreduce.ZephyrDriver [option]...
    </code>
</pre>
        <p>See: <a href="/zephyr/Configuration/#configuration-cmd">Options</a></p>