---
layout: base
---

<h3><a name="how-to-run" class="anchor" href="#how-to-run"><span class="glyphicon glyphicon-link"></span></a>How to Run Zephyr (MapReduce)</h3>
Zephyr is primarily a library and an abstraction; it's impossible to give you in depth instructions for your own flows.  However, by running through a quick exercise to load some sample wikipedia data through Zephyr
and into a tab delimited format in MapReduce, we can begin to show how you would use it.

<h4><a name="requirements" class="anchor" href="#requirements"><span class="glyphicon glyphicon-link"></span></a>Requirements</h4>
<ul>
    <li>Twitter Subset - loaded into HDFS at /tmp/zephyr-twitter-example</li>
    <li><a href="http://sotera.github.io/zephyr/HowToBuild/">Built</a> and <a href="http://sotera.github.io/zephyr/HowToDeploy/">Deployed</a> Zephyr Sample Project (assumption: deploy this to /opt/zephyr/)</li>
</ul>

{% include example.html %}

When this example has finished, there should be a folder in HDFS called /tmp/zephyr-twitter-output.  <br/><br/>

This is only the simplest use of Zephyr, but it should give you an example to work with as you move forward with your own ETL process.<br/>
<h4><a name="command-line-arguments" class="anchor" href="#command-line-arguments"><span class="glyphicon glyphicon-link"></span></a>Command Line Arguments to Zephyr</h4>
{% include cli.html %}